<html lang="en">
    
    <%- include('./partials/head.ejs') %> 

    <body>
        <h1>homepage</h1>
        <h2>a nakedguac blogs made to document my ultralearning challenge</h2>
        
        <%- include('./partials/nav.ejs') %> 

        <div class="blogs content">
            <h2>all naked blogs</h2>

            <% if (blogs.length > 0) {%>
                <% blogs.forEach(blog => { %>
                    <!-- anchor tag with a dynamic variable -->
                    <a class="single" href="/blogs/<%= blog._id %>">
                        <h3 class="title"><%= blog.title%> </h3>
                        <p class="snippet"><%= blog.snippet %> </p>
                    </a>
                <% }) %>
            <% } else { %>
                <p>There are no blog to display...</p>
            <% } %> 
        </div>
        
        <%- include('./partials/footer.ejs') %> 
    </body>
</html>